# Object files
*.o

# Binary output directory and executable
bin/
broncos_engine

# Arena and Java compiled files
*.class

*.epd
*.pgn
*.txt
*.sh

# OS and Editor files
.DS_Store
.vscode/
.idea/
*.exe